.about{
    background: var(--white);
    margin:0 0 30px 0;
    position: relative;
    
    
}
.about h1{
    text-align: center;
    margin:50px 0;
    font-family: var(--font-two);
}
.totalAbout{
    display: flex;
    flex-direction: row;
}
.sidePic{
    max-width:50%;
    float: left;
    
}
.selfie{
    width: 30vw;
    max-width:300px;
    height:auto;
    border:5px solid var(--yellow);
    float:left;
    margin: 0 0 0 5vw;
}

.proLinks{
    margin: 0;
    float:left;
    
}
.proLinks img{
    width:13vw;
    max-width: 100px;
    display: block;
    margin: auto auto;
    
    
}
#githublogo{
    width:6vw;
    max-width:60px;
}

.aboutInfo{
    max-width: 50%;
    
    
}
.aboutInfo h3{
    text-align: center;
    margin: 50px;
    font-family: var(--font-two);
}
.about p{
    color: var(--black);
    margin: 0px 0px 30px 0px;
    text-align: left;
    font-family: var(--font-three);
}
.logos {
    text-align: center;
}
.logos img{
    height: 50px;
    margin: 7px 0 0 0;
    
}
#htmlcss{
    height: 90px;
    margin:  0 7px 0 0 ;
}