.about{
    background: var(--white);
    margin:0;
    
    position: relative;
    overflow:auto;
    
}
.about h1{
    text-align: center;
    margin:50px;
    font-family: var(--font-two);
}
.sidePic{
    width:40%;
    float: left;
    
}
.selfie{
    width:300px;
    height:auto;
    margin:0px 0px 100px 100px;
    border:5px solid var(--yellow);
    float:left;
}

.proLinks{
    text-align: center;
    margin: 0;
    float:left;
}
.proLinks img{
    width: 100px;
    float:left;
    padding: 0 0 0 20px;
}
#githublogo{
    width:80px;
    padding: 0 0 15px 40px;
}

.aboutInfo{
    width: 60%;
    float:right;
    
}
.aboutInfo h3{
    text-align: center;
    margin: 50px;
    font-family: var(--font-two);
}
.about p{
    color: var(--black);
    margin: 0px 0px 30px 0px;
    text-align: left;
    font-family: var(--font-three);
}
.logos {
    text-align: center;
    
}
.logos img{
    height: 50px;
    margin: 7px 0 0 0;
    
}
#htmlcss{
    height: 90px;
    margin:  0 7px 0 0 ;
}