#contact{
    background:var(--green);
    position:fixed;
    bottom:0;
}
#contact h2{
    color:var(--black);
}
#contact p {
    margin:0;
}
#contact .btn{
    background: var(--yellow);
}
#contact a{
    background:blue;
}