.jumbotron{
    margin:40px 0px 0px 0px;
    background: url('../assets/img/beach-clouds-dawn-788434.jpg') center bottom;
    background-size: cover;
    height: 100vh;
    color:var(--white);
}
.display-4{
    font-family: var(--font-one);
    font-size: 150px;
    padding:100px 0px 100px 0px;
    text-align: center;
}
.lead{
    font-family: var(--font-two);
    font-size: 40px;
}