#projects h1{
    margin: 50px;
    font-family: var(--font-two);
}

.row{
    background: var(--grey);
    border:5px solid var(--green);
    padding:10px;
    text-align: center;
    height: 400px;
}
.col-4{
    
    background: var(--grey);
    border-radius:20px;
    
}
p{
    text-align:center;
    color: var(--white);
    font-family: var(--font-three);
}
#project{
    text-decoration-line: none;
}

#project1{
    background-image:  url('../assets/img/API.png');
    background-size: 100% 300px;
    background-repeat: no-repeat;
    border: 5px solid var(--yellow);
    text-align:center;
    display: inline-block;
    position: relative;
    margin:30px 0 0 0;
    width: 90%;
    height: 300px;
    
}

#project1 h3{
    display:none;
    margin:125px 0 0 0;
}
#project1:hover h3{
    display: block;
    color: var(--white);
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

#project2{
    background-image:  url('../assets/img/webpage.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--yellow);
    text-align:center;
    display: inline-block;
    position: relative;
    margin:30px 0 0 0;
    width: 90%;
    height: 300px;
    
}

#project2 h3{
    display:none;
    margin:125px 0 0 0;
}
#project2:hover h3{
    display: block;
    color: var(--white);
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

#project3{
    background-image:  url('../assets/img/CSSCreature.png');
    background-size: 100% 300px;
    background-repeat: no-repeat;
    border: 5px solid var(--yellow);
    text-align:center;
    display: inline-block;
    position: relative;
    margin:30px 0 0 0;
    width: 90%;
    height: 300px;
    
}

#project3 h3{
    display:none;
    margin:125px 0 0 0;
}
#project3:hover h3{
    display: block;
    color: var(--white);
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

