:root {
    --white:#E9F1F7;
    --black:#040303;
    --green:#3A4E48;
    --grey:#6A7B76;
    --yellow:#E9D985;
  

    --font-one: 'Great Vibes', cursive;
    --font-two: 'Roboto Slab', serif;
    --font-three: 'Nunito', sans-serif;

  }